/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4adb2;
  font-family: "Raleway", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

/* HEADER */

.header-base {
  background-color: #ffdc5e;
  position: sticky;
  width: 100%; /* full width */
  height: 80px;
  top: 0; /* Position the header at the top of the page */
  margin-bottom: 20px;
  z-index: 100;
}

h1 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* PROFILE PAGE  */

/* PROFILE-PICTURE AND NAME */
.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.profile img {
  border-radius: 50%;
  height: 150px;
  width: auto;
}

.profile p {
  text-transform: uppercase;
  font-weight: bold;
}

/* ABOUT ME TEXT  */
.about-me-text {
  margin: 30px;
}

/* COUNTERS */

.counter-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.counter-section > .question-counter {
  height: 20px;
  width: auto;
}

.counter-section > .bookmark-counter {
  height: 20px;
  width: auto;
}

/* FOOTER NAVBAR */

.footer-navbar {
  width: 100%;
  background-color: #ffdc5e;
  display: flex;
  justify-content: space-around;
}

.footer-navbar a {
  text-decoration: none;
}

.footer-navbar a img {
  margin-top: 10px;
  width: 50px;
  height: auto;
}
